body{
	font-family:arial;
	}
	
	div {
	background: #777;
    border: 3px solid black;	
	}
	
	p {
		padding: 20px;
		text-align: justify;
	}
	img {
		float:left;
		background: url(0.png) no-repeat center;
		position: relative;
		width: 400px;
		height: 200px;
		cursor: pointer;
	}
	
	.text1 {
		float: left;
		width: 300px;
	}
	
	.text2 {
		clear: both;
	}
	
	.clear {
		clear: both;
	}